<footer class="footer text-white pt-5 pb-3 mt-5">
    <div class="container">
      <div class="row text-center text-md-start">
        <div class="col-md-4 mb-4">
          <h5 class="fw-bold mb-3">Agences disponibles</h5>
          <ul class="list-unstyled">
            <li class="mb-2">Aéroport Tunis Carthage</li>
            <li class="mb-2">Aéroport Djerba</li>
            <li class="mb-2">Aéroport Enfidha</li>
            <li class="mb-2">Aéroport Monastir</li>
            <li class="mb-2">Aéroport Sfax</li>
            <li class="mb-2">Agence Centre Ville</li>
            <li class="mb-2">Agence Nabeul</li>
            <li class="mb-2">Agence Sousse</li>
          </ul>
        </div>
  
        <div class="col-md-4 mb-4 text-center">
          <h5 class="fw-bold mb-3">Contact Us</h5>
          <div class="d-flex justify-content-center">
            <a href="https://facebook.com" target="_blank" class="text-white me-3">
              <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="https://instagram.com" target="_blank" class="text-white me-3">
              <i class="fab fa-instagram fa-2x"></i>
            </a>
            <a href="https://wa.me/123456789" target="_blank" class="text-white">
              <i class="fab fa-whatsapp fa-2x"></i>
            </a>
          </div>
        </div>
  
        <div class="col-md-4 mb-4 text-md-end">
          <h5 class="fw-bold mb-3">Quick Links</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="index.html" class="text-white text-decoration-none">Home</a></li>
            <li class="mb-2"><a href="#" class="text-white text-decoration-none">About</a></li>
            <li class="mb-2"><a href="#" class="text-white text-decoration-none">Contact</a></li>
          </ul>
        </div>
      </div>
  
      <div class="text-center mt-4">
        <small>&copy; 2025 RapidRent. All rights reserved.</small>
      </div>
    </div>
  </footer>
  